@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'signature';
  src: url('/fonts/AccountantSignature-RpXr6.ttf') format('truetype');
}

#app {
  align-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
}
